*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition:background 0.2s linear;
}
body.dark{
    background-color: #292C35;
}
.label {
    background-color: #111;
    display: flex;
    border-radius: 50px;
    height: 28px;
    width: 50px;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}
.checkbox:checked + .label .ball{
    transform:translateX(20px)
}
.checkbox {
    opacity: 0;
    position:absolute ;
}
.ball {
    background-color: #fff;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transform:transform 0.2s linear;
}
